* {
	box-sizing: border-box;
	font-size: 110%;
	vertical-align: baseline;
	
	color: whitesmoke;
	/*background-color: #e8e8e8;*/
}

@font-face {
	font-family: Fuentenumeros;
	src: url('fonts/Fuentenumeros-Regular.ttf') format('truetype');
}
@font-face {
  font-family: Multimedia;
  src: url('fonts/Multimedia-Regular.ttf') format('truetype');

}

body {
	background-color: black;
	margin: 0;
}

.main {
	font-family: Multimedia;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 92px;
	background: #8d8d8d;
	position: fixed;
	width: 100%;
	z-index: 100;
	border-bottom: 10px solid #1c1c1c;
}

.navbar {
	display: flex;
	flex-wrap: no-wrap;
	margin-right: 10px;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.navbar a {
	background: none;
	font-family: Multimedia;
	padding: 23px 20px;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.25em;
}

.navbar a:hover {
	transform: scale(1.2);
}

.content {
	height: 60vh !important;
	background: url(images/main.jpg) no-repeat center;
	background-size: cover;
	background-position: center;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #252525;
}

.title {
	font-family: Multimedia;
	font-size: 5.0em;
	background: none;
}

#lema {
	font-family: Multimedia;
	font-size: 1.5em;
	background: none;
}

#resumen h2 {
	font-family: Multimedia;
	font-size: 2.4em;
	text-align: center;
}

#historia h2 {
	font-family: Multimedia;
	font-size: 2.4em;
	text-align: center;
}

.row #fila1 {
	height: 70vh !important;
}

#resumen p {
	font-family: Multimedia;
	font-size: 1.2em;
	font-style: italic;
	margin: 2em;
	text-align: justify;
}
#historia p {
	font-family: Multimedia;
	font-size: 1.1em;
	margin: 1em;
	text-align: justify;
}

.video-container {
  text-align: center;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.video-container iframe {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.column {
  float: left;
  padding: 10px;
  margin: 10px;
  background-color:#1f1d1d;
}

.left {
  width: 55%;
}

.right {
  width: 40%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.music-player-container{
	background: linear-gradient(30deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.85));
	backdrop-filter: blur(10px);
	height: fit-content;
	width: 53vw;
	border-radius: 10px;
	padding: 0.45rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.35);
	
}

.title-music-container{
	font-family: Multimedia;
	width: 80%;
	height: 80%;
	width: fit-content;
	color: white;
	margin-right: auto;
	margin-left: 10%;
}

.song-tilte{
	font-weight: 600;
	font-size: 17px;
	letter-spacing: 0.5px;
}

.song-author{
	font-size: 12px;
	color: rgb(167, 167, 167);
	letter-spacing: 0.1px;
}

.controls-music-container{
	width: 80%;
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.progress-song-container{
	margin-top: 0.6rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.progress-bar{
	height: 3px;
	border-radius: 3px;
	width: 100%;
	background-color: rgb(102, 102, 102);
	position: relative;
}

.progress{
	position: absolute;
	height: 100%;
	width: 0%;
	border-radius: 3px;
	background-color: white;
}

.time-container{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: rgb(167, 167, 167);
	font-size: 12px;
	font-family: Multimedia;
}

.time-left{
	margin-top: 0.3rem;
}

.main-song-controls{
	height: 30px;
	width: 100%;
	margin-top: 1rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.icon{
	height: 100%;
	width: auto;
	opacity: 0.6;
	cursor: pointer;
}

.icon:hover{
	opacity: 1;
}

audio{
	display: none;
}

#seccion-preguntas {
	font-family: Multimedia;
	font-size: 2.1em;
	text-align: center;
	margin-top: 10px;
}

#preguntas-respuestas {
	font-family: Multimedia;
	font-size: 1.2em;
	text-align: justify;
	padding: 36px;
}

#equipo {
	font-family: Multimedia;
}

#equipo h2 {
	font-size: 2.25em;
	text-align: center;
	margin-top: 30px;
}

#equipo #redes i {
	margin-top: 14.5px;
}

#equipo #redSocialReal {
	margin-top: 20px;
}

#equipo #redSocialReal a {
	height: 60%;
}

#equipo #container {
	text-align: center;
}

#equipo #logoCreditos {
	
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}

.buttons {
  min-width: 140px;
  display: flex;
  justify-content: space-around;
}

.buttons a {
	font-family: Multimedia;
  text-decoration: none;
  font-size: 28px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #314652;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  transition: all .4s ease-in-out;
}

.buttons a:hover {
  transform: scale(1.2);
  cursor: pointer;
}

#dinero {
	font-family: Multimedia;
	padding: 1.3em;
	background: #1f1d1d;
	color: #ffffff;
}

#tiers {
	font-family: Multimedia;
	text-align: center;
	background: #1f1d1d;
	font-size: 1.8em;
}

.box-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
	background: #1f1d1d;
}

.box-container .box {
	height: 28rem;
	width: 30rem;
	background: #101010;
	text-align: center;
	border-radius: 1rem;
	box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, .5);
	margin: 1rem;
	position: relative;
	padding-right: 44px;
	padding-left: 44px;
}

.box-container .box h3 {
	font-size: 1.8em;
	background: #101010;
}

.box-container .box p {
	font-size: 1.3em;
	background: #101010;
	margin-bottom: 15px;
}

.ventajas {
	text-align: left;
	font-size: 1.1em;
	background: #101010;
}

.ventajas li {
	background: #101010;
	font-size: 0.95em;
}

.donar-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.donar-button button {
  color: white;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.donar-button button:hover {
  transform: scale(1.2);
}

#pago1 {
	font-family: Fuentenumeros;
	font-size: 1.5em;
}
#tier1 {

	border: 2px solid #ff0000;

}

#tier1 button {
	font-family: Multimedia;
	background-color: #ff0000;
}

#pago2 {
	font-family: Fuentenumeros;
	font-size: 1.5em;
}

#tier2 {
	border: 2px solid #ff9300;
}

#tier2 button {
	font-family: Multimedia;
	background-color: #ff9300;
}

#pago3 {
	font-family: Fuentenumeros;
	font-size: 1.5em;
}

#tier3 {
		border: 2px solid #ffe000;
}

#tier3 button {
font-family: Multimedia;
	background-color: #ffe000;
}

#pago4 {
	font-family: Fuentenumeros;
	font-size: 1.5em;
}

#tier4 {
	border: 2px solid #00ff00;
}

#tier4 button {
	font-family: Multimedia;
	background-color: #00ff00;
}

#pago5 {
	font-family: Fuentenumeros;
	font-size: 1.5em;
}

#tier5 {
	border: 2px solid #00adff;
}

#tier5 button {
	font-family: Multimedia;
	background-color: #00adff;
}

#pago6 {
	font-family: Fuentenumeros;
	font-size: 1.5em;
}

#tier6 {
	border: 2px solid #004dff;
}

#tier6 button {
	font-family: Multimedia;
	background-color: #004dff;
}

#pago7 {
	font-family: Fuentenumeros;
	font-size: 1.5em;
}

#tier7 {
	border: 2px solid #7800ff;
}

#tier7 button {
	font-family: Multimedia;
	background-color: #7800ff;
}

#pregunta {
   font-style: italic;
   font-size: 1.2em;
}
#respuesta {
	padding-left: 18px;
	padding-left: 18px;
}

#comentarios {
  padding: 10px;
  margin: 10px;
  background-color:#1f1d1d;
}

#disqus_thread{
	font-family: Multimedia;
}

#disclaimer {
	border-top: 2px solid #2f2d2d;
	border-bottom: 2px solid #2f2d2d;
	background-color: black;
	padding: 12px;
	margin: 4px;
	margin-bottom: 24px;
	font-size: 20px;
	font-style: italic;
	text-align: center;
}

@media screen and (max-width: 175px) {
	.buttons {
		flex-direction: column;
	}
}

@media screen and (max-width: 350px) {

	.navbar a {
		padding: 23px 20px;
		font-size: 0.95em;
	}

	#resumen h2 {
		font-size: 1.9em;
	}

	#historia h2 {
		font-size: 1.9em;
	}

	#seccion-preguntas {
		font-size: 1.9em;
	}

	.buttons {
	    flex-wrap: wrap;
	    justify-content: center;
	}
	  
	.buttons a {
	    margin: 5px; 
	}

	.box-container .box h3 {
		font-size: 1em;
		margin-bottom: 4px;
	}

	.box-container .box p {
		font-size: 0.95em;
		margin-bottom: 4px;
	}
}

@media screen and (max-width: 400px) {
	.ventajas {
		font-size: 0.95em;
	}

	.ventajas li {
		font-size: 0.9em;
	}
}

@media screen and (max-width: 535px) {
	.navbar {
		opacity: 0.8;
	}

	#seccion-preguntas {
		font-size: 1em;
	}
}

@media screen and (max-width: 700px) {
	.main {
		background: none;
	}

  .navbar a {
      padding: 10px 20px;
      margin: 5px;
  }

  .content {
    height: 45vh !important;
  	background-size: 100% auto;
  	color: #9ba0ee;
  }
}

@media screen and (max-width: 1064px) {
	.column {
	  width: 100%;
	  margin: 10 auto;
	}

	#equipo {
		float: none;
	}

    #lema {
        font-size: 1.3em;
    }

}

@media screen and (max-width: 900px) {
	.navbar {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    background: #252525;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
  }

  .navbar a {
    padding: 10px 20px;
    margin: 5px;
  }

  .title {
    font-size: 2em;
  }

  #lema {
    font-size: 1.4em;
  }

	#creditos section {
		font-family: Multimedia;
	}

  #creditos h2 {
  	font-size: 1.8em;
  }
}

@media screen and (max-width: 1000px) {
	.content {
			height: 50vh !important;
    	background-size: 100% auto;
    	color: #9ba0ee;
	}
}

/*@media only screen {
	.column {
		width: 100%;
	}
}*/